# coding=UTF8

test = {
    "targetpostgisversion": "2",
    "connections": {
      "main": {
        "host": "xxx",
	"port": "xxx",
	"dbname": "xxx"
      },
      "super": {
        "host": "xxx",
	"port": "xxx",
	"dbname": "xxx"
      }
    },
    "groups": ["group1", "group2"],
    "users": {
      "superdb": {
        "user": "xxx",
	"pass": "xxx",
	"groups": ["group1"]
      },
      "admin": {
        "user": "xxx",
	"pass": "xxx",
	"groups": ["group2"]
      }
    }
    # Must end with /, absolute
    "libpath": "/whatever/lib/",
    # Always absolute, must end with /
    "csvpath": "/whatever/CSV-Test/",
    # Relative to libpath
    "externallibraries": ["Geometries.sql", "Introspection-PostGIS_2.sql", "Array.sql", "Strings.sql"],
    "buildfolderprefix": "build",
    # Folders to be created inside build folder
    "createfolders": ["CSV-Test", "CSV-Test/Context", "CSV-Test/Registro_Longitudinal"],
    # Custom parameters
    "parameters": {
      "schemasuffix": "xxx",
      "exporttestdatapath": "CSV-Test",
      "gridsuffix": ["250", "125", "62_5", "31_25"],
      "gridsizes": [250, 125, 62.5, 31.25]
    }
}
